:root {
    --background-image: url(https://i.imgur.com/kYW2H5C.jpg)!important;
    --background-image-blur: 5px!important;
    --background-image-size: cover!important;
    --background-image-position: center!important;
    --window-padding: 20px!important;
    --window-roundness: 10px!important;
}
